
#box{
	background-color: lightblue;
	position:relative;
	left:300px;
	top:300px;
	color:purple;
	width:200px;
	height:200px;
	border-width:2px;
	border-style:solid;
	border-color:black;
}
#box1{
	position:relative;
	font-weight:bold;
	top:45%;
	left:30%;
}
