body{
	display: flex; 
    justify-content: center; 
    align-items: center; 
	min-height: 100vh; 
    margin: 0;
}
.box{
	background-color: lightblue;
	border:2px solid black;
	width:200px;
	height:200px;
	display: flex;
    justify-content: center;
    align-items: center;
}
p{
	color: purple;
    font-weight: bold;
}
